<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Botones redes sociales</title>
        <link rel="stylesheet" href="style.css">
      </head>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>

    <!--Menu-->
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="C:\Users\900149\Desktop\banco\Project\index.html">Home</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!--<li class="nav-item active">
            <a class="nav-link" href="/template/formulario">Entrar no formulário <span class="sr-only">(current)</span></a>
          </li>-->
          <li class="nav-item active">
            <a class="nav-link" href="C:\Users\900149\Desktop\banco\Project\template\criartabela.html">Criar/apagar tabela <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
  <!--Menu-->

  <div class="container-fluid">
    <h1>Bem vindo a página de cadastro</h1>
  </div>
  
  <body>
    <div class="social-media"><a class="social-media__link social-media__link--twitter" href="https://www.instagram.com/vasconcelos.png/?hl=pt-br" target="_blank"><img src="insta.png" alt="some text" width=60 height=40><span class="social-media__icon icon-twitter"></span>
      <h3 class="social-media__user">Vasconcelos.png</h3></a><a class="social-media__link social-media__link--github" href="https://www.facebook.com/mateus.vieiravasconcelos" target="_blank"><img src="face.png" alt="some text" width=60 height=40><span class="social-media__icon icon-github"></span>
      <h3 class="social-media__user">/Vasconcelos</h3></a><a class="social-media__link social-media__link--codepen" href="https://github.com/mateusvaconcelos" target="_blank"><img src="git.jpg" alt="some text" width=60 height=40><span class="social-media__icon icon-codepen"> </span>
      <h3 class="social-media__user">/mateus</h3></a></div>
  <footer class="footer-git">
    <p>Bem vindo ao<a href="#" target="_blank"> site do vasconcelos <span class="icon-git-alt"></span></a></p>
    </footer>
  </body>
<!-- Footer -->
<!-- <footer>
      <hr>
      <p class="text-center">Disponível em <a href="https://github.com/mateusvaconcelos" target="_blank">GitHub</a></p>
    </footer> -->
<!-- Footer -->




<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
